{% extends 'base.html.twig' %}

{% block title %}
  Logo
{% endblock %}

{% block body %}
<br><br>
	<div class="container border"><br><br>
		<div class="d-flex justify-content-end">
			<a href="{{ path('logout') }}" class="btn btn-danger">Déconnexion</a>
		</div><br>
		<a class="btn btn-outline-info" href="{{ path('admin_dashboard') }}">Dashboard</a>
		<a class="btn btn-outline-info" href="{{ path('admin_index') }}">Utilisateurs</a>
		<a class="btn btn-outline-info" href="{{path('admin_create_signature')}}">Create signature</a><br><br>

		<div class="listeLogo border">
        <h1 class="text-center">Liste des logos</h1><br>

		{% for message in app.flashes('error') %}
			<div class="alert alert-danger">
				{{ message }}
			</div>
		{% endfor %}

		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}

		<table class="table">
			<thead>
				<tr>
					<th>Nom</th>
					<th>Chemin</th>
					<th>Crée le</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for logo in logos %}
					<tr>
						<td>{{ logo.name }}</td>
						<td>{{ logo.path }}</td>
						<td>{{ logo.createAT|date('d-m-Y H:i') }}</td>
						<td>
							{# Actions here #}
							<a href="">Modifier</a>
							<a href="">Supprimer</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
        </div><br><br>

		<div class="allLogos">
			<h4>Ajouter un logo ?</h4><br>
			{{ form_start(form) }}
			<div>
				{{ form_label(form.name) }}
				{{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
				{{ form_errors(form.name) }}<br>
			</div>
			<div>
				{{ form_label(form.path) }}
				{{ form_widget(form.path, {'attr': {'class': 'form-control'}}) }}
				{{ form_errors(form.path) }}<br>
			</div>
			{{ form_end(form) }}
			<br><br></div>
	</div>
    <br><br>
{% endblock %}
