{% extends 'base.html.twig' %}

{% block title %}Générer une signature{% endblock %}

{% block body %}
    <a href="{{ path('logout') }}" class="btn btn-danger">Déconnexion</a>

    <div class="generateur">
        <section class="generate_signature" style="width: 33%; float: left;">

            <h1>Générer une signature</h1>

            <form class="form" method="post">
                {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_row(form.name, {'attr': {'class': 'form-control', 'id': 'form_name', 'oninput': 'updatePreview()'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.email, {'attr': {'class': 'form-control', 'id': 'form_email', 'oninput': 'updatePreview()'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.phone, {'attr': {'class': 'form-control', 'id': 'form_phone', 'oninput': 'updatePreview()'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.role, {'attr': {'class': 'form-control', 'id': 'form_role', 'oninput': 'updatePreview()'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.organization, {'attr': {'class': 'form-control', 'id': 'form_organization', 'oninput': 'updatePreview()'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.adress, {'attr': {'class': 'form-control', 'id': 'form_address', 'oninput': 'updatePreview()'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.zip_code, {'attr': {'class': 'form-control', 'id': 'form_zip_code', 'oninput': 'updatePreview()'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.city, {'attr': {'class': 'form-control', 'id': 'form_city', 'oninput': 'updatePreview()'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.logo, {'attr': {'class': 'form-control', 'id': 'form_logo', 'oninput': 'updatePreview()'}}) }}
                    </div>
                    {# Ajouter du JavaScript ici pour afficher les images #}
                    <button type="submit" class="btn btn-primary">Générer</button>
                {{ form_end(form) }}
            </form>
        </section>
        

       <section class="view_signature" style="width: 60%; float: right; padding-top: 12%;">
            <div class="prévisualisation" style="border: solid;">
                <table border="0" cellpadding="0" width="500">
                    <tbody>
                        <tr>
                            <td align="left" valign="middle" width="10">
                                <p>
                                    <a href="https://www.unsa.org/"><img id="logo" src='${logo}' style="border: none;width: 120px; " alt="LOGO UNSA"></a>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <span id="name">${name}</span><br>
                                    <span id ="role"><i>${role}</i></span><br>
                                    <span id="organization"><i>${organization}</i></span><br>
                                </p>
                                <p>
                                    <span id="address">${address}</span><br>
                                    <span id="zipCode">${zipCode}&nbsp;</span>
                                    <span id="city">${city} CEDEX</span><br>
                                </p>
                                <p>
                                    <img src="https://reseaux.unsa.org/signature/_mail.svg" style="border: none;height: 12px;margin-right: .5em;">
                                    <a id="email" href="mailto:${email}" style="color: #666;font-style: italic;">${email}</a><br>
                                    <img src="https://reseaux.unsa.org/signature/_phone.svg" style="border: none;height: 14px;margin-right: .5em;">
                                    <span id="phone" style="color: #666;">${phone}</span>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <div style="clear: both;"></div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}

<script>
    function updatePreview() {
        // Sélectionnez l'élément de prévisualisation "name"
        var previewName = document.getElementById('name');
        var previewEmail = document.getElementById('email');
        var previewLogo = document.getElementById('logo'); 
        var previewOrganization = document.getElementById('organization');
        var previewRole = document.getElementById('role');
        var previewAdress = document.getElementById('address');
        var previewZipCode = document.getElementById('zipCode');
        var previewCity = document.getElementById('city');
        var previewPhone = document.getElementById('phone');

        // Sélectionnez la valeur du champ "name"
        var nameValue = document.getElementById('form_name').value;
        var emailValue = document.getElementById('form_email').value;
        // probleme de logo corriger , recuperation du name a la selection et utilisation du path pour l'afficher l'image
        var logoSelect = document.getElementById('form_logo');
        var selectedOption = logoSelect.options[logoSelect.selectedIndex];
        var logoValue = selectedOption.getAttribute('name');

        var organizationValue = document.getElementById('form_organization').value;
        var roleValue = document.getElementById('form_role').value;
        var addressValue = document.getElementById('form_adress').value;
        var cityValue = document.getElementById('form_city').value;
        var phoneValue = document.getElementById('form_phone').value;
        var zipCodeValue = document.getElementById('form_zip_code').value;

        // Mettez à jour le contenu de la prévisualisation avec la valeur du champ "name"
        previewName.textContent = nameValue;
        previewEmail.textContent = emailValue;
        previewLogo.src = logoValue; 
        previewOrganization.textContent = organizationValue;
        previewRole.textContent = roleValue;
        previewAdress.textContent = addressValue
        previewCity.textContent = cityValue + " CEDEX";
        previewPhone.textContent = phoneValue;
        previewZipCode.textContent= zipCodeValue;



        var selectElement = document.getElementById('form_logo');
var optionNames = [];

var options = selectElement.getElementsByTagName('option');
for (var i = 0; i < options.length; i++) {
  var option = options[i];
  optionNames.push(option.getAttribute('name'));
}

//console.log(optionNames);
    }

    
</script>

{% endblock %}