{% extends 'base.html.twig' %}

{% block title %}Générer une signature{% endblock %}

{% block body %}
    <a href="{{ path('logout') }}" class="btn btn-danger">Déconnexion</a>

    <div class="generateur">
        <section class="generate_signature" style="inline-size: 33%; float: inline-start;">

            <h1>Générer une signature</h1>

            <form class="form" method="post">
                {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_row(form.name, {'attr': {'class': 'form-control', 'id': 'form_name', 'oninput': 'updatePreview()'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.email, {'attr': {'class': 'form-control', 'id': 'form_email', 'oninput': 'updatePreview()'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.phone, {'attr': {'class': 'form-control', 'id': 'form_phone', 'oninput': 'updatePreview()'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.role, {'attr': {'class': 'form-control', 'id': 'form_role', 'oninput': 'updatePreview()'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.organization, {'attr': {'class': 'form-control', 'id': 'form_organization', 'oninput': 'updatePreview()'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.adress, {'attr': {'class': 'form-control', 'id': 'form_address', 'oninput': 'updatePreview()'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.zip_code, {'attr': {'class': 'form-control', 'id': 'form_zip_code', 'oninput': 'updatePreview()'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.city, {'attr': {'class': 'form-control', 'id': 'form_city', 'oninput': 'updatePreview()'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.logo, {'attr': {'class': 'form-control', 'id': 'form_logo', 'oninput': 'updatePreview()'}}) }}
                    </div>
                    {# Ajouter du JavaScript ici pour afficher les images #}
                    <button type="submit" class="btn btn-primary">Générer</button>
                {{ form_end(form) }}
            </form>
        </section>
        

       <section class="view_signature" style="inline-size: 60%; float: inline-end; padding-block-start: 12%;">
            <div class="prévisualisation" style="border: solid;">
                <table border="0" cellpadding="0" width="500">
                    <tbody>
                        <tr>
                            <td align="left" valign="middle" width="10">
                                <p>
                                    <a href="https://www.unsa.org/"><img id="logo" src='${logo}' style="border: none;inline-size: 120px; " alt="LOGO UNSA"></a>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <span id="name">Nom et Prénom</span><br>
                                    <span id ="role"><i>Mon poste</i></span><br>
                                    <span id="organization"><i>Mon entreprise</i></span><br>
                                </p>
                                <p>
                                    <span id="address">Mon adresse</span><br>
                                    <span id="zipCode">Code postal&nbsp;</span>
                                    <span id="city">Ville CEDEX</span><br>
                                </p>
                                <p>
                                    <img src="https://reseaux.unsa.org/signature/_mail.svg" style="border: none;block-size: 12px;margin-inline-end: .5em;">
                                    <a id="email" href="mailto:${email}" style="color: #666;font-style: italic;">Adresse Email</a><br>
                                    <img src="https://reseaux.unsa.org/signature/_phone.svg" style="border: none;block-size: 14px;margin-inline-end: .5em;">
                                    <span id="phone" style="color: #666;">Numéro</span>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <div style="clear: both;"></div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}

<script>
    function updatePreview() {
        // Sélectionnez l'élément de prévisualisation "name"
        var previewName = document.getElementById('name');
        var previewEmail = document.getElementById('email');
        var previewLogo = document.getElementById('logo'); 
        var previewOrganization = document.getElementById('organization');
        var previewRole = document.getElementById('role');
        var previewAdress = document.getElementById('address');
        var previewZipCode = document.getElementById('zipCode');
        var previewCity = document.getElementById('city');
        var previewPhone = document.getElementById('phone');

        // Sélectionnez la valeur du champ "name"
        var nameValue = document.getElementById('form_name').value;
        var emailValue = document.getElementById('form_email').value;
        var logoSelect = document.getElementById('form_logo');// probleme de logo corriger , recuperation du name a la selection et utilisation du path pour l'afficher l'image
        var selectedOption = logoSelect.options[logoSelect.selectedIndex];
        var logoValue = selectedOption.getAttribute('name');

        var organizationValue = document.getElementById('form_organization').value;
        var roleValue = document.getElementById('form_role').value;
        var addressValue = document.getElementById('form_adress').value;
        var cityValue = document.getElementById('form_city').value;
        var phoneValue = document.getElementById('form_phone').value;
        var zipCodeValue = document.getElementById('form_zip_code').value;

        // Mettez à jour le contenu de la prévisualisation avec la valeur du champ "name"
        previewName.textContent = nameValue;
        previewEmail.textContent = emailValue;
        previewLogo.src = logoValue; 
        previewOrganization.textContent = organizationValue;
        previewRole.textContent = roleValue;
        previewAdress.textContent = addressValue
        previewCity.textContent = cityValue + " CEDEX";
        previewPhone.textContent = phoneValue;
        previewZipCode.textContent= zipCodeValue;

    }

    
</script>

{% endblock %}