{% extends 'base.html.twig' %}

{% block title %}Générer une signature{% endblock %}

{% block body %}
    <button href="{{ path('logout') }}" class="btn btn-danger">Déconnexion</button>

    <div class="generateur">
        <section class="generate_signature" style="width: 33%; float: left;">

            <h1>Générer une signature</h1>

            <form class="form" method="post">
                {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_row(form.name, {'attr': {'class': 'form-control', 'id': 'form_name', 'oninput': 'updatePreview()'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.email, {'attr': {'class': 'form-control', 'id': 'form_email', 'oninput': 'updatePreview()'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.phone, {'attr': {'class': 'form-control', 'id': 'form_phone', 'oninput': 'updatePreview()'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.role, {'attr': {'class': 'form-control', 'id': 'form_role', 'oninput': 'updatePreview()'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.organization, {'attr': {'class': 'form-control', 'id': 'form_organization', 'oninput': 'updatePreview()'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.adress, {'attr': {'class': 'form-control', 'id': 'form_address', 'oninput': 'updatePreview()'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.zip_code, {'attr': {'class': 'form-control', 'id': 'form_zip_code', 'oninput': 'updatePreview()'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.city, {'attr': {'class': 'form-control', 'id': 'form_city', 'oninput': 'updatePreview()'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.logo, {'attr': {'class': 'form-control', 'id': 'form_logo', 'oninput': 'updatePreview()'}}) }}
                    </div>
                    {# Ajouter du JavaScript ici pour afficher les images #}

                    <button type="submit" class="btn btn-primary">Générer</button>
                {{ form_end(form) }}
            </form>
        </section>

       <section class="view_signature" style="width: 60%; float: right; padding-top: 12%;">
            <div class="prévisualisation">
                <table border="0" cellpadding="0" width="500">
                    <tbody>
                        <tr>
                            <td align="left" valign="middle" width="10">
                                <p>
                                    <a id="logo" href="${logoPath}"><img id="logo" src="${logoPath}" style="border: none;width: 400px;"></a>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <span id="name">${name}</span><br>
                                    <span id ="role"><i>${role}</i></span><br>
                                    <span id="organization"><i>${organization}</i></span><br>
                                </p>
                                <p>
                                    <span id="address">${address}</span><br>
                                    <span id="zipCode">${zipCode}&nbsp;</span>
                                    <span id="city">${city}</span><br>
                                </p>
                                <p>
                                    <img src="https://reseaux.unsa.org/signature/_mail.svg" style="border: none;height: 12px;margin-right: .5em;">
                                    <a id="email" href="mailto:${email}" style="color: #666;font-style: italic;">${email}</a><br>
                                    <img src="https://reseaux.unsa.org/signature/_phone.svg" style="border: none;height: 14px;margin-right: .5em;">
                                    <span id="phone" style="color: #666;">${phone}</span>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <div style="clear: both;"></div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}

<script>
    function updatePreview() {
        // Sélectionnez l'élément de prévisualisation "name"
        var previewName = document.getElementById('name');

        // Sélectionnez la valeur du champ "name"
        var nameValue = document.getElementById('form_name').value;

        // Mettez à jour le contenu de la prévisualisation avec la valeur du champ "name"
        previewName.textContent = nameValue;
    }
</script>

{% endblock %}
